<%- include('partials/header')%>
<div class="caption">
<div><br>
<h1>Favorites</h1>
<div class="results">
<div>
<strong>
    <form method="get" action="/favoritepage">
        <input data-id="<%=results.park.id%> <%=results.weatherdata.id%>"
        data-name="<%=results.park.fullName%> <%=results.weatherdata.name%>"
        name="favorite" class="favorite" type="checkbox" value="true">
        <label for="favorite">Save as a favorite</label>
    </form>
<img src="<%=results.park.images[0].url%>" style="position:relative;">
<p>Credit: <%=results.park.images[0].credit%></p>
<p>Park name: <%= results.park.fullName %></p>
<p>Location: <%=results.weatherdata.name%> </p>
<p>Park Description:</p>
<p><%= results.park.description %></p>
<p>Skies: <%= results.weatherdata.weather[0].description %></p>
<a href="<%= results.park.url%>"> Park Website</a>
<p>Phone Number: <%=results.park.contacts.phoneNumbers[0].phoneNumber%></p>
<p>Degrees: <%= results.weatherdata.main.temp %> F <br> Feels like:<%= results.weatherdata.main.feels_like%> F</p>
<p>Highs and lows: <br>High <%= results.weatherdata.main.temp_max %> F <br>Low <%= results.weatherdata.main.temp_min%> F</p>
</strong>
</div>
</div>
</div>
</div>
<script src="savefavorites.js"></script>
<%- include('partials/footer')%>
